[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ARPobservation"]
	path = ARPobservation
	url = https://github.com/jepusto/arpobservation
[submodule "SingleCaseES"]
	path = SingleCaseES
	url = https://github.com/jepusto/singlecasees
[submodule "clubSandwich"]
	path = clubSandwich
	url = https://github.com/jepusto/clubsandwich
[submodule "lmeInfo"]
	path = lmeInfo
	url = https://github.com/jepusto/lmeinfo
[submodule "scdhlm"]
	path = scdhlm
	url = https://github.com/jepusto/scdhlm
